// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
//colors
$white: #fff;
$black: #000;
$color_black_haze_approx: #f7f7f7;
$color_cerulean_blue_approx: #3f51b5;
$color_shuttle_gray_approx: #596b7d;
$color_violet_red_approx: #ff4081;
