// -----------------------------------------------------------------------------------------------
// This file contains all styles related to the button component shared across pages and componets
// ------------------------------------------------------------------------------------------------