<a mat-button *ngIf="!authService.isUserAuthenticated(); else show" (click)="doOpenLoginDialog()" >
  <span>Login / Sign Up</span>
</a>
<ng-template #show>
  <button mat-button #accountMenuTrigger="matMenuTrigger"
  (mouseenter)="accountMenuTrigger.openMenu()" [matMenuTriggerFor]="accountMenu" >
    <mat-icon class="icon">account_circle</mat-icon>
    <span class="label">{{ authService.getUserName() | truncate : 6 }}</span>
    <mat-icon class="inline-icon">arrow_drop_down</mat-icon>
  </button>
  <mat-menu #accountMenu="matMenu" overlapTrigger="false" class="menu" >
    <ng-template matMenuContent >
      <button mat-menu-item  [routerLink]="['/auth/my-profile']" >
        <mat-icon>account_box</mat-icon><span>My Profile</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="doSignout()" >
        <mat-icon>power_settings_new</mat-icon><span>Sign Out</span>
      </button>
    </ng-template>
  </mat-menu>
</ng-template>

