.login-container {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.login-container > * {
  width: 100%;
}

.login-container form > * {
  margin: 0px 0;
}

.field-full-width {
  width: 100%;
}
