@import '~styles/themes/theme-variables';
@import '~styles/themes/themes';

.header {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.first-center-nav-menu {
  /* Every toolbar row uses a flexbox row layout.
  When you use margin-left:auto on a flex-item,
  the value auto will take up any empty spaces available on the left */
  margin-left: auto;
}

.last-center-nav-menu {
  /* Every toolbar row uses a flexbox row layout.
  When you use margin-right:auto on a flex-item,
  the value auto will take up any empty spaces available on the right */
  margin-right: auto;
}

.toolbar {

  button {
    font-weight: 500;
  }

  a {
    font-weight: 500;
  }

}

/* fix the height of navigation bar */
mat-toolbar {
  height: 50px !important;
  min-height: 50px !important;
  /* with  grey color shadow
  box-shadow: 0 16px 26px -10px rgba(0, 188, 212, 0.56),
0 4px 25px 0px rgba(0, 0, 0, 0.12),
0 8px 10px -5px rgba(0, 188, 212, 0.2);*/
  mat-toolbar-row {
    height: 50px !important;
  }
}


/* Sample: To access color variable and apply to the element/
$accent: map-get($app-theme, accent);
.menu-active {
  color: mat-color($accent);
}
*/
