<div class="header">
  <mat-toolbar color="primary" role="navigation" [ngClass]="{'shrink-toolbar': shrinkToolbar}" class="toolbar">
    <mat-toolbar-row>
      <a role="banner" mat-button [routerLink]="['/home']" >
        <span class="mat-title" >ngx-web-starter</span>
      </a>
      <a mat-button class="first-center-nav-menu" [routerLink]="['/home']" [routerLinkActive]="['menu-active']" [routerLinkActiveOptions]="{exact:true}" >Home</a>
      <a mat-button [routerLink]="['/menu1']" [routerLinkActive]="['menu-active']" [routerLinkActiveOptions]="{exact:true}" >Menu1</a>
      <a mat-button class="last-center-nav-menu"  [routerLink]="['/menu2']" [routerLinkActive]="['menu-active']" [routerLinkActiveOptions]="{exact:true}" >Menu2</a>
      <a mat-button *ngIf="!authService.isUserAuthenticated()" (click)="openLoginDialog()" >
        <span>Login / Sign Up</span>
      </a>
      <button *ngIf="authService.isUserAuthenticated()" mat-button #accountMenuTrigger="matMenuTrigger"
      (mouseenter)="accountMenuTrigger.openMenu()" [matMenuTriggerFor]="accountMenu" >
        <mat-icon class="icon">account_circle</mat-icon>
        <span class="label">{{ authService.getUserName() | truncate : 6 }} <mat-icon class="inline-icon">arrow_drop_down</mat-icon></span>
      </button>
      <mat-menu #accountMenu="matMenu" overlapTrigger="false" class="menu" >
        <ng-template matMenuContent *ngIf="authService.isUserAuthenticated()" >
          <button mat-menu-item  [routerLink]="['/auth/my-profile']" >
            <mat-icon>account_box</mat-icon><span>My Profile</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="doSignout()" >
            <mat-icon>power_settings_new</mat-icon><span>Sign Out</span>
          </button>
        </ng-template>
      </mat-menu>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <a mat-button [routerLink]="['/help']" [routerLinkActive]="['menu-active']" [routerLinkActiveOptions]="{exact:true}" >Help</a>
      <a mat-icon-button  [routerLink]="['/cart']" [routerLinkActive]="['menu-active']" [routerLinkActiveOptions]="{exact:true}" >
        <mat-icon>shopping_cart</mat-icon>
      </a>
    </mat-toolbar-row>
    <mat-toolbar-row [ngClass]="{'hide-toolbar-row': shrinkToolbar}" >
      <a mat-button class="first-center-nav-menu" [routerLink]="['/menu3']" [routerLinkActive]="['menu-active']" [routerLinkActiveOptions]="{exact:true}" >Menu3</a>
      <a mat-button [routerLink]="['/menu4']" [routerLinkActive]="['menu-active']" [routerLinkActiveOptions]="{exact:true}" >Menu4</a>
      <a mat-button [routerLink]="['/menu5']" [routerLinkActive]="['menu-active']" [routerLinkActiveOptions]="{exact:true}" >Menu5</a>
      <a mat-button class="last-center-nav-menu"  [routerLink]="['/menu6']" [routerLinkActive]="['menu-active']" [routerLinkActiveOptions]="{exact:true}" >Menu6</a>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-progress-bar *ngIf="isLoading" color="accent" mode="indeterminate"></mat-progress-bar>
</div>

