.menu-fill-remaining-space1 {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex-grow: 0.5;
}

.menu-fill-remaining-space2 {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

header {
  max-height: 50px;
  min-height: 50px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.toolbar button,
.toolbar a {
  font-weight: 400;
  margin-right: 8px;
}

.menu-active {
  color:#FFFFFF;
}

.toolbar a:hover {
  color:#ff4081;
}
