<div class="update-password-container">
  <form novalidate [formGroup]="updatePasswordForm" (ngSubmit)="doUpdatePassword()" >
    <mat-card>
      <mat-card-content>
        <br>
        <span class="error" *ngIf="updatePasswordErrorMsg">
          <mat-icon class="icon">error</mat-icon>
          {{ updatePasswordErrorMsg }}
        </span>
        <span class="success" *ngIf="updatePasswordSuccessMsg">
          <mat-icon class="icon">done_filled</mat-icon>
          {{ updatePasswordSuccessMsg }}
        </span>
        <mat-form-field appearance="outline" >
          <mat-label>Old Password</mat-label>
          <input matInput maxlength="30" formControlName="oldPassword" class="field-full-width" placeholder="Old Password" [type]="isHideOldPassword ? 'password' : 'text'" >
          <mat-icon matSuffix (click)=" isHideOldPassword = !isHideOldPassword ">{{ isHideOldPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
          <mat-error *ngIf="oldPassword.invalid">{{ getOldPasswordControlErrorMessage() }}</mat-error>
        </mat-form-field><br>
        <mat-form-field hintLabel="Should be at least 6 characters." appearance="outline" >
          <mat-label>New Password</mat-label>
          <input matInput maxlength="30" formControlName="password" class="field-full-width" placeholder="New Password" [type]="isHidePassword ? 'password' : 'text'" >
          <mat-icon matSuffix (click)=" isHidePassword = !isHidePassword ">{{ isHidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
          <mat-hint align="end">{{ password.value?.length }} / 6</mat-hint>
          <mat-error *ngIf="password.invalid">{{ getPasswordControlErrorMessage() }}</mat-error>
        </mat-form-field><br>
        <mat-form-field appearance="outline" >
          <mat-label>Confirm New Password</mat-label>
          <input matInput maxlength="30" formControlName="confirmPassword" class="field-full-width" placeholder="Confirm Password" [type]="isHideConfirmPassword ? 'password' : 'text'" >
          <mat-icon matSuffix (click)=" isHideConfirmPassword = !isHideConfirmPassword ">{{ isHideConfirmPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
          <mat-hint align="end">{{ confirmPassword.value?.length }} / 6</mat-hint>
          <mat-error *ngIf="confirmPassword.invalid">{{ getConfirmPasswordControlErrorMessage() }}</mat-error>
        </mat-form-field>
        <br><br>
      </mat-card-content>
      <mat-card-actions class="button">
        <button mat-raised-button color="accent" type="submit">Change Password</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
