// -----------------------------------------------------------------------------
// This file contains all the custom palette colors.
// -----------------------------------------------------------------------------

//netflix red color
$mat-custom-crimson-red: (
    50 : #fce1e3,
    100 : #f7b5b9,
    200 : #f2848a,
    300 : #ed535b,
    400 : #e92e37,
    500 : #e50914,
    600 : #e20812,
    700 : #de060e,
    800 : #da050b,
    900 : #d30206,
    A100 : #fffbfb,
    A200 : #ffc8c8,
    A400 : #ff9595,
    A700 : #ff7b7c,
    contrast: (
        50 : $dark-primary-text,
        100 : $dark-primary-text,
        200 : $dark-primary-text,
        300 : $dark-primary-text,
        400 : $light-primary-text,
        500 : $light-primary-text,
        600 : $light-primary-text,
        700 : $light-primary-text,
        800 : $light-primary-text,
        900 : $light-primary-text,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $dark-primary-text,
        A700 : $dark-primary-text,
    )
);

// netflix black color
$mat-custom-raisin-black: (
  50 : #e4e4e4,
  100 : #bdbcbc,
  200 : #918f8f,
  300 : #646262,
  400 : #434141,
  500 : #221f1f,
  600 : #1e1b1b,
  700 : #191717,
  800 : #141212,
  900 : #0c0a0a,
  A100 : #ff5252,
  A200 : #ff1f1f,
  A400 : #eb0000,
  A700 : #d20000,
  contrast: (
      50 : $dark-primary-text,
      100 : $dark-primary-text,
      200 : $dark-primary-text,
      300 : $light-primary-text,
      400 : $light-primary-text,
      500 : $light-primary-text,
      600 : $light-primary-text,
      700 : $light-primary-text,
      800 : $light-primary-text,
      900 : $light-primary-text,
      A100 : $dark-primary-text,
      A200 : $light-primary-text,
      A400 : $light-primary-text,
      A700 : $light-primary-text,
  )
);
$mat-custom-blue: (
     50 : #e1e7ff,
    100 : #b3c3ff,
    200 : #819bff,
    300 : #4f72ff,
    400 : #2954ff,
    500 : #0336ff,
    600 : #0330ff,
    700 : #0229ff,
    800 : #0222ff,
    900 : #0116ff,
    A100 : #ffffff,
    A200 : #f2f3ff,
    A400 : #bfc2ff,
    A700 : #a6aaff,
    contrast: (
	    50: $dark-primary-text,
	    100: $dark-primary-text,
	    200: $dark-primary-text,
	    300: $light-primary-text,
	    400: $light-primary-text,
	    500: $light-primary-text,
	    600: $light-primary-text,
	    700: $light-primary-text,
	    800: $light-primary-text,
	    900: $light-primary-text,
	    A100: $dark-primary-text,
	    A200: $dark-primary-text,
	    A400: $dark-primary-text,
	    A700: $dark-primary-text,
	)
);

$mat-custom-yellow: (
     50 : #fffbe1,
    100 : #fff5b3,
    200 : #ffef81,
    300 : #ffe84f,
    400 : #ffe329,
    500 : #ffde03,
    600 : #ffda03,
    700 : #ffd502,
    800 : #ffd102,
    900 : #ffc801,
    A100 : #ffffff,
    A200 : #fffcf2,
    A400 : #fff0bf,
    A700 : #ffe9a6,
    contrast: (
	    50: $dark-primary-text,
	    100: $dark-primary-text,
	    200: $dark-primary-text,
	    300: $dark-primary-text,
	    400: $dark-primary-text,
	    500: $dark-primary-text,
	    600: $dark-primary-text,
	    700: $dark-primary-text,
	    800: $dark-primary-text,
	    900: $dark-primary-text,
	    A100: $dark-primary-text,
	    A200: $dark-primary-text,
	    A400: $dark-primary-text,
	    A700: $dark-primary-text,
	)
);

$mat-custom-chilly-red: (
    50 :  #f3e4e6,
    100 : #e1bbc1,
    200 : #cd8d98,
    300 : #b95f6e,
    400 : #aa3d4f,
    500 : #9b1b30,
    600 : #93182b,
    700 : #891424,
    800 : #7f101e,
    900 : #6d0813,
    A100 : #ff9ea5,
    A200 : #ff6b76,
    A400 : #ff3847,
    A700 : #ff1f30,
    contrast: (
        50 :$dark-primary-text,
        100 :$dark-primary-text,
        200 :$dark-primary-text,
        300: $light-primary-text,
        400: $light-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $light-primary-text,
        A700 : $light-primary-text,
    )
);

$mat-custom-fruit-dove: (
    50 : #f9ebef,
    100 : #f0ced7,
    200 : #e7adbc,
    300 : #dd8ca1,
    400 : #d5748c,
    500 : #ce5b78,
    600 : #c95370,
    700 : #c24965,
    800 : #bc405b,
    900 : #b02f48,
    A100 : #fff5f7,
    A200 : #ffc2cd,
    A400 : #ff8fa3,
    A700 : #ff758e,
    contrast: (
      50 : $dark-primary-text,
      100 : $dark-primary-text,
      200 : $dark-primary-text,
      300 : $dark-primary-text,
      400 : $dark-primary-text,
      500 : $dark-primary-text,
      600 : $light-primary-text,
      700 : $light-primary-text,
      800 : $light-primary-text,
      900 : $light-primary-text,
      A100 : $dark-primary-text,
      A200 : $dark-primary-text,
      A400 : $dark-primary-text,
      A700 : $dark-primary-text,
    )
);

$mat-custom-peacock-pink: (
    50 : #f8e4ed,
    100 : #eebcd2,
    200 : #e390b4,
    300 : #d76495,
    400 : #cf427f,
    500 : #c62168,
    600 : #c01d60,
    700 : #b91855,
    800 : #b1144b,
    900 : #a40b3a,
    A100 : #ffd2dd,
    A200 : #ff9fb7,
    A400 : #ff6c91,
    A700 : #ff527e,
    contrast: (
      50 : $dark-primary-text,
      100 : $dark-primary-text,
      200 : $dark-primary-text,
      300 : $dark-primary-text,
      400 : $light-primary-text,
      500 : $light-primary-text,
      600 : $light-primary-text,
      700 : $light-primary-text,
      800 : $light-primary-text,
      900 : $light-primary-text,
      A100 : $dark-primary-text,
      A200 : $dark-primary-text,
      A400 : $dark-primary-text,
      A700 : $dark-primary-text,
    )
);

$mat-custom-princess-blue: (
    50 : #e0eaf3,
    100 : #b3cbe1,
    200 : #80a9ce,
    300 : #4d87ba,
    400 : #266dab,
    500 : #00539c,
    600 : #004c94,
    700 : #00428a,
    800 : #003980,
    900 : #00296e,
    A100 : #9db9ff,
    A200 : #6a95ff,
    A400 : #3770ff,
    A700 : #1e5eff,
    contrast: (
      50 : $dark-primary-text,
      100 : $dark-primary-text,
      200 : $dark-primary-text,
      300 : $light-primary-text,
      400 : $light-primary-text,
      500 : $light-primary-text,
      600 : $light-primary-text,
      700 : $light-primary-text,
      800 : $light-primary-text,
      900 : $light-primary-text,
      A100 : $dark-primary-text,
      A200 : $dark-primary-text,
      A400 : $light-primary-text,
      A700 : $light-primary-text,
    )
);

$mat-custom-orange-tiger: (
    50 : #feede3,
    100 : #fdd1b9,
    200 : #fcb38a,
    300 : #fb955b,
    400 : #fa7e37,
    500 : #f96714,
    600 : #f85f12,
    700 : #f7540e,
    800 : #f64a0b,
    900 : #f53906,
    A100 : #ffffff,
    A200 : #ffede9,
    A400 : #ffc2b6,
    A700 : #ffad9d,
    contrast: (
        50 : $dark-primary-text,
        100 : $dark-primary-text,
        200 : $dark-primary-text,
        300 : $dark-primary-text,
        400 : $dark-primary-text,
        500 : $dark-primary-text,
        600 : $dark-primary-text,
        700 : $light-primary-text,
        800 : $light-primary-text,
        900 : $light-primary-text,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $dark-primary-text,
        A700 : $dark-primary-text,
    )
);

$mat-cust-quetzal-green: (
    50 : #e0eeed,
    100 : #b3d4d3,
    200 : #80b7b6,
    300 : #4d9a99,
    400 : #268483,
    500 : #006e6d,
    600 : #006665,
    700 : #005b5a,
    800 : #005150,
    900 : #003f3e,
    A100 : #74fffc,
    A200 : #41fffb,
    A400 : #0efffa,
    A700 : #00f4ef,
    contrast: (
        50 : $dark-primary-text,
        100 : $dark-primary-text,
        200 : $dark-primary-text,
        300 : $dark-primary-text,
        400 : $light-primary-text,
        500 : $light-primary-text,
        600 : $light-primary-text,
        700 : $light-primary-text,
        800 : $light-primary-text,
        900 : $light-primary-text,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $dark-primary-text,
        A700 : $dark-primary-text,
    )
);

$mat-cust-emerald: (
    50 : #e0f3ef,
    100 : #b3e1d6,
    200 : #80cdbb,
    300 : #4db9a0,
    400 : #26aa8b,
    500 : #009b77,
    600 : #00936f,
    700 : #008964,
    800 : #007f5a,
    900 : #006d47,
    A100 : #9cffd6,
    A200 : #69ffc1,
    A400 : #36ffac,
    A700 : #1dffa1,
    contrast: (
        50 : $dark-primary-text,
        100 : $dark-primary-text,
        200 : $dark-primary-text,
        300 : $dark-primary-text,
        400 : $light-primary-text,
        500 : $light-primary-text,
        600 : $light-primary-text,
        700 : $light-primary-text,
        800 : $light-primary-text,
        900 : $light-primary-text,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $dark-primary-text,
        A700 : $dark-primary-text,
    )
);

$mat-cust-greenery: (
    50 : #f1f6e9,
    100 : #dbe7c9,
    200 : #c4d8a5,
    300 : #acc881,
    400 : #9abc66,
    500 : #88b04b,
    600 : #80a944,
    700 : #75a03b,
    800 : #6b9733,
    900 : #588723,
    A100 : #e3ffc6,
    A200 : #caff93,
    A400 : #b0ff60,
    A700 : #a4ff47,
    contrast: (
        50 : $dark-primary-text,
        100 : $dark-primary-text,
        200 : $dark-primary-text,
        300 : $dark-primary-text,
        400 : $dark-primary-text,
        500 : $dark-primary-text,
        600 : $dark-primary-text,
        700 : $dark-primary-text,
        800 : $light-primary-text,
        900 : $light-primary-text,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $dark-primary-text,
        A700 : $dark-primary-text,
    )
);

$md-custom-blue-izis: (
    50 : #ebecf4,
    100 : #cecfe4,
    200 : #adafd3,
    300 : #8c8ec1,
    400 : #7476b3,
    500 : #5b5ea6,
    600 : #53569e,
    700 : #494c95,
    800 : #40428b,
    900 : #2f317b,
    A100 : #c3c5ff,
    A200 : #9093ff,
    A400 : #5d62ff,
    A700 : #4449ff,
    contrast: (
        50 : $dark-primary-text,
        100 : $dark-primary-text,
        200 : $dark-primary-text,
        300 : $dark-primary-text,
        400 : $light-primary-text,
        500 : $light-primary-text,
        600 : $light-primary-text,
        700 : $light-primary-text,
        800 : $light-primary-text,
        900 : $light-primary-text,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $light-primary-text,
        A700 : $light-primary-text,
    )
);

$mat-lime-punch: (
    50 : #f7fae8,
    100 : #ecf3c6,
    200 : #dfeba0,
    300 : #d2e27a,
    400 : #c9dc5e,
    500 : #bfd641,
    600 : #b9d13b,
    700 : #b1cc32,
    800 : #a9c62a,
    900 : #9bbc1c,
    A100 : #fcfff2,
    A200 : #f1ffbf,
    A400 : #e6ff8c,
    A700 : #e0ff73,
    contrast: (
        50 : $dark-primary-text,
        100 : $dark-primary-text,
        200 : $dark-primary-text,
        300 : $dark-primary-text,
        400 : $dark-primary-text,
        500 : $dark-primary-text,
        600 : $dark-primary-text,
        700 : $dark-primary-text,
        800 : $dark-primary-text,
        900 : $dark-primary-text,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $dark-primary-text,
        A700 : $dark-primary-text,
    )
);

$mat-custom-arcadia: (
    50 : #e0f4f2,
    100 : #b3e4de,
    200 : #80d2c8,
    300 : #4dc0b2,
    400 : #26b3a2,
    500 : #00a591,
    600 : #009d89,
    700 : #00937e,
    800 : #008a74,
    900 : #007962,
    A100 : #a7ffeb,
    A200 : #74ffdf,
    A400 : #41ffd4,
    A700 : #27ffce,
    contrast: (
        50 : $dark-primary-text,
        100 : $dark-primary-text,
        200 : $dark-primary-text,
        300 : $dark-primary-text,
        400 : $dark-primary-text,
        500 : $light-primary-text,
        600 : $light-primary-text,
        700 : $light-primary-text,
        800 : $light-primary-text,
        900 : $light-primary-text,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $dark-primary-text,
        A700 : $dark-primary-text,
    )
);

$mat-custom-buttercup: (
    50 : #fefbe8,
    100 : #fef6c5,
    200 : #fdf09e,
    300 : #fce977,
    400 : #fbe559,
    500 : #fae03c,
    600 : #f9dc36,
    700 : #f9d82e,
    800 : #f8d327,
    900 : #f6cb1a,
    A100 : #ffffff,
    A200 : #fffdf6,
    A400 : #fff2c3,
    A700 : #ffeda9,
    contrast: (
        50 : $dark-primary-text,
        100 : $dark-primary-text,
        200 : $dark-primary-text,
        300 : $dark-primary-text,
        400 : $dark-primary-text,
        500 : $dark-primary-text,
        600 : $dark-primary-text,
        700 : $dark-primary-text,
        800 : $dark-primary-text,
        900 : $dark-primary-text,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $dark-primary-text,
        A700 : $dark-primary-text,
    )
);

$mat-custom-green-flash: (
    50 : #eff8ea,
    100 : #d7eecb,
    200 : #bce3a9,
    300 : #a1d887,
    400 : #8dcf6d,
    500 : #79c753,
    600 : #71c14c,
    700 : #66ba42,
    800 : #5cb339,
    900 : #49a629,
    A100 : #edffe7,
    A200 : #c6ffb4,
    A400 : #9fff81,
    A700 : #8bff68,
    contrast: (
        50 : $dark-primary-text,
        100 : $dark-primary-text,
        200 : $dark-primary-text,
        300 : $dark-primary-text,
        400 : $dark-primary-text,
        500 : $dark-primary-text,
        600 : $dark-primary-text,
        700 : $dark-primary-text,
        800 : $dark-primary-text,
        900 : $light-primary-text,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $dark-primary-text,
        A700 : $dark-primary-text,
    )
);

