// -----------------------------------------------------------------------------
// This file contains custom theme20
// -----------------------------------------------------------------------------
@import 'custom-palette.scss';

$app-theme20-primary: mat-palette($mat-purple, 700, 600, 700);
$app-theme20-accent:  mat-palette($mat-light-blue, 500, 600, 700);
$app-theme20-warn: mat-palette($mat-red);
$app-theme20: mat-light-theme($app-theme20-primary, $app-theme20-accent, $app-theme20-warn);
