// -----------------------------------------------------------------------------
// This file contains all application-wide theme variables.
// -----------------------------------------------------------------------------

$white: #fff;
$black: #000;

// footer
$color_black_haze: #f7f7f7;
$color_shuttle_gray: #596b7d;
