// -----------------------------------------------------------------------------
// This file contains main theme.
// -----------------------------------------------------------------------------

/* Pre-built Themes */
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* custom Theme using Material color Palette */
// Helper functions(toolbox) for custom theme
@import '~@angular/material/theming';
// Material Mixin - mixin only once; it should not be included for each theme
//This includes all common styles that are used by multiple components
@include mat-core();

// import our custom themes
@import 'default-theme.scss';
@import 'theme1.scss';
@import 'theme2.scss';
@import 'theme3.scss';
@import 'theme4.scss';
@import 'theme5.scss';
@import 'theme6.scss';
@import 'theme7.scss';
@import 'theme8.scss';
@import 'theme9.scss';

@mixin global-theme-color($theme) {
  // Derive primary, accent and warn color from theme
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  // use function mat-color() to extract individual colors from a palette.
  a {
    &:hover {
      color:mat-color($accent);
    }
  }

  .menu-active {
    color: mat-color($accent);
  }
}

.default-theme {
  @include angular-material-theme($app-theme);
  @include global-theme-color($app-theme);
}

// Theme 1
.theme1 {
  @include angular-material-theme($app-theme1);
  @include global-theme-color($app-theme1);
}

// Theme 2
.theme2 {
  @include angular-material-theme($app-theme2);
  @include global-theme-color($app-theme2);
}

// Theme 3
.theme3 {
  @include angular-material-theme($app-theme3);
  @include global-theme-color($app-theme3);
}

// Theme 4 using custom palette
.theme4 {
  @include angular-material-theme($app-theme4);
  @include global-theme-color($app-theme4);
}

// Theme 5 using custom palette
.theme5 {
  @include angular-material-theme($app-theme5);
  @include global-theme-color($app-theme5);
}

// Theme 6 using custom palette (netflix theme)
.theme6 {
  @include angular-material-theme($app-theme6);
  @include global-theme-color($app-theme6);
}

// Theme 7 using custom palette
.theme7 {
  @include angular-material-theme($app-theme7);
  @include global-theme-color($app-theme7);
}

// Theme 8 using custom palette
.theme8 {
  @include angular-material-theme($app-theme8);
  @include global-theme-color($app-theme8);
}

// Theme 9 using custom palette
.theme9 {
  @include angular-material-theme($app-theme9);
  @include global-theme-color($app-theme9);
}
