/* Pre-built Themes */
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';

/*
Primary - Main colors most widely used across all screens and components.
Accent - Also known as the secondary color. Used for floating action buttons and interactive elements.
Warn - Colors to convey error state.
Foreground - Used for text and icons.
Background - Colors used for element backgrounds. */

/* custom Theme using Material color Palette */
// Helper functions(toolbox) for custom theme
@import '~@angular/material/theming';
// Material Mixin - mixin only once; it should not be included for each theme
//This includes all common styles that are used by multiple components
@include mat-core();

@mixin global-theme-color($theme) {
  // Derive primary, accent and warn color from theme
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  // use function mat-color() to extract individual colors from a palette.
  a {
    &:hover {
      color:mat-color($accent);
    }
  }

  .menu-active {
    color: mat-color($accent);
  }
}
// common color for warnings for all themes
$app-theme-warn: mat-palette($mat-red);

.default-theme {
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// Available color palettes: https://material.io/design/color/
// function mat-palette($base-palette, $default: 500, $lighter: 100, $darker: 700)
// Theme 1
// Include theme styles for core and each component used in your app.

  $app-theme-primary: mat-palette($mat-blue, A700, A400, A700);
  $app-theme-accent:  mat-palette($mat-green, A700, A400, A700);
  // Create the theme(dark or light) object (a Sass map containing all of the palettes).
  // dark or light variants theme function  @function mat-dark-theme($primary, $accent, $warn: mat-palette($mat-red))
  $app-theme: mat-light-theme($app-theme-primary, $app-theme-accent, $app-theme-warn);
  //app-theme: mat-dark-theme(app-primary, $app-accent, $app-warn);
  @include angular-material-theme($app-theme);
  @include global-theme-color($app-theme);
}

// Theme 2
.theme2 {
  $app-theme2-primary: mat-palette($mat-indigo, A700, A100, A700);
  $app-theme2-accent:  mat-palette($mat-amber, A400, A100, A400);
  $app-theme2: mat-light-theme($app-theme2-primary, $app-theme2-accent, $app-theme-warn);
  @include angular-material-theme($app-theme2);
  @include global-theme-color($app-theme2);
}

// Theme 3
.theme3 {
  $app-theme3-primary: mat-palette($mat-yellow, A400, A100, A700);
  $app-theme3-accent:  mat-palette($mat-deep-purple, A400, A100, A700);
  $app-theme3: mat-light-theme($app-theme3-primary, $app-theme3-accent, $app-theme-warn);
  @include angular-material-theme($app-theme3);
  @include global-theme-color($app-theme3);
}

// Theme 4
.theme4 {
  $app-theme4-primary: mat-palette($mat-teal, 500, A400, A700);
  $app-theme4-accent:  mat-palette($mat-orange, A700, A400, A700);
  $app-theme4: mat-light-theme($app-theme4-primary, $app-theme4-accent, $app-theme-warn);
  @include angular-material-theme($app-theme4);
  @include global-theme-color($app-theme4);
}
