// -----------------------------------------------------------------------------
// This file contains custom theme4.
// -----------------------------------------------------------------------------
$app-theme4-primary: mat-palette($mat-teal, 700, 400, 700);
$app-theme4-accent:  mat-palette($mat-orange, A700, A400, A700);
$app-theme4-warn: mat-palette($mat-red);
$app-theme4: mat-light-theme($app-theme4-primary, $app-theme4-accent, $app-theme4-warn);
