// -----------------------------------------------------------------------------
// This file contains custom theme2.
// -----------------------------------------------------------------------------
$app-theme2-primary: mat-palette($mat-indigo, 700, 100, 700);
$app-theme2-accent:  mat-palette($mat-amber, A700, A100, A700);
$app-theme2-warn: mat-palette($mat-red);
$app-theme2: mat-light-theme($app-theme2-primary, $app-theme2-accent, $app-theme2-warn);
