// -----------------------------------------------------------------------------
// This file contains custom theme17
// -----------------------------------------------------------------------------
@import 'custom-palette.scss';

$app-theme17-primary: mat-palette($mat-purple, 700, 600, 700);
$app-theme17-accent:  mat-palette($mat-custom-blue-izis, 500, 600, 700);
$app-theme17-warn: mat-palette($mat-red);
$app-theme17: mat-light-theme($app-theme17-primary, $app-theme17-accent, $app-theme17-warn);
