// -----------------------------------------------------------------------------
// This file contains scss mixins for themes
// -----------------------------------------------------------------------------

@mixin global-custom-theme($theme) {
  // Derive primary, accent and warn color from theme
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  // use function mat-color() to extract individual colors from a palette.
  a {
    &:hover {
      color:mat-color($accent);
    }
  }

  .menu-active {
    color: mat-color($accent);
  }
}

/* Gradient style 3: Using 2 colors: Use this optional mixins if you want to apply gradient color to Angular Material apps */
@mixin global-gradient-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .mat-primary  {
    background: linear-gradient(to right, mat-color($primary, 200), mat-color($accent, 300), mat-color($primary, 900)) !important;
  }

  .mat-accent  {
    background: linear-gradient(to right, mat-color($accent, 200), mat-color($primary, 500), mat-color($accent, 900)) !important;
  }

}

/* Gradient style 2: Using same color: Use this optional mixins if you want to apply gradient color to Angular Material apps */
@mixin global-gradient-theme2($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .mat-primary  {
    background: linear-gradient(to right, mat-color($primary, 200), mat-color($primary, 500), mat-color($primary, 700)) !important;
  }

  .mat-accent  {
    background: linear-gradient(to right, mat-color($accent, 200), mat-color($accent, 500), mat-color($accent, 700)) !important;
  }

}
