.signup-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.signup-container > * {
  width: 100%;
}

.signup-container form > * {
  margin: 0px 0;
}

.field-full-width {
  width: 100%;
}
