.acknowledgement-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.acknowledgement-containerr > * {
  width: 100%;
}

.acknowledgement-container form > * {
  margin: 0px 0;
}

.field-full-width {
  width: 100%;
}

.auth-note {
  text-align: left;
}
