<div class="changepassword-container" >
  <br><br><br>
  <p class="hd-page-tite">Change Password</p>
    <span class="error" *ngIf="changePasswordErrorMsg">
      <mat-icon class="icon">error</mat-icon>
      {{ changePasswordErrorMsg }}
    </span>
    <form novalidate [formGroup]="changePasswordForm" (ngSubmit)="doChangePassword()" >
      <mat-form-field hintLabel="Should be at least 6 characters." appearance="outline" >
        <mat-label>New Password</mat-label>
        <input matInput maxlength="30" formControlName="password" class="field-full-width" placeholder="New Password" [type]="isHidePassword ? 'password' : 'text'" >
        <mat-icon matSuffix (click)=" isHidePassword = !isHidePassword ">{{ isHidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        <mat-hint align="end">{{ password.value?.length }} / 6</mat-hint>
        <mat-error *ngIf="password.invalid">{{ getPasswordControlErrorMessage() }}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" >
        <mat-label>Confirm New Password</mat-label>
        <input matInput maxlength="30" formControlName="confirmPassword" class="field-full-width" placeholder="Confirm Password" [type]="isHideConfirmPassword ? 'password' : 'text'" >
        <mat-icon matSuffix (click)=" isHideConfirmPassword = !isHideConfirmPassword ">{{ isHideConfirmPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        <mat-hint align="end">{{ confirmPassword.value?.length }} / 6</mat-hint>
        <mat-error *ngIf="confirmPassword.invalid">{{ getConfirmPasswordControlErrorMessage() }}</mat-error>
      </mat-form-field>
      <br><br>
      <button mat-raised-button color="accent" type="submit">Change Password</button>
      &nbsp;&nbsp;
    </form>
    <br><br>
</div>
