@import 'src/styles/themes/theme-variables';

.scroll-back-to-top-button {
  position: fixed;
  right: 10px;
  bottom: 70px;
  z-index: 10;
  float: right;
  cursor: pointer;
}

.scroll-back-to-top-icon {
  color: $white;
}
