//colors
@import 'src/styles/themes/theme-variables';

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100hv;
  background-color: $white;
}

main {
  padding-top: 80px;
  padding-right: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.25em;
}
