@import 'src/styles/themes/theme-variables';

.footer {
  padding: 15px 5px;
  background-color: $color_black_haze_approx;
}

.links {
  padding: 10px 20px;
}

.social-icon-links {
  padding: 10px 5px;
}

a {
  display: inline-block;
  color: $black;
  text-decoration: none;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: padding 0.5s;

  &:hover {
    color: $color_cerulean_blue_approx;
  }
}

.copyright {
  font-size: 12px;
  font-style: italic;
  color: $color_shuttle_gray_approx;
}

.version {
  font-size: 10px;
  font-style: italic;
  color: $color_shuttle_gray_approx;
}
