<div class="auth-popup-container" >
  <div>
    <div class="auth-close-btn" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </div>
    <h1 mat-dialog-title>Forgot Your Password?</h1>
  </div>
  <mat-dialog-content>
    <p class="auth-note" >Please enter the email address you use to Sign In, and we'll email you a secure link to reset your password.</p>
    <br>
    <span class="error" *ngIf="forgotPasswordError">
      <mat-icon class="icon">error</mat-icon>
      {{ forgotPasswordError }}
    </span>
    <br>
    <form novalidate [formGroup]="forgotPasswordForm" (ngSubmit)="doSendForgotPasswordLink()" >
      <mat-form-field appearance="outline" >
        <mat-label>Email</mat-label>
        <input matInput required formControlName="email" placeholder="Email">
        <mat-error *ngIf="email.invalid">{{ getEmailControlErrorMessage() }}</mat-error>
      </mat-form-field>
      <br>
      <button mat-raised-button color="accent" type="submit">Reset your Password</button>
    </form>
    <br>
    <a  href="#" (click)="!!openSigninDialog()" class="auth-link" ><p mat-line>Return to Sign In</p></a>
  </mat-dialog-content>
</div>
