.small
{
  line-height:100px;
  text-align: center;
}

.home-bg {
  /* Set a specific height */
  width: 1522px;
  min-height: 400px;
  /* The image used */
  background-image: url("assets/images/parallax.jpg");
}
