.small
{
  line-height:100px;
  text-align: center;
}

.home-bg {
  /* The image used */
  background-image: url("assets/images/parallax.jpg");
  /* Set a specific height */
  min-height: 400px;
  width: 1525px;
}
