// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

$font_family: Roboto, 'Helvetica Neue', sans-serif;

/* Reset */

html, body, div {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  width: 100%;
  height: 100%;
}

/* Set up a default font and some padding to provide breathing room */
body {
  width: 100%;
  height: 100%;
  font-family: $font_family;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
