// --------------------------------------------------
// This file contains minimal CSS reset rules.
// --------------------------------------------------

/**
* 1. boxing-sizig ensure consistent and predictable sizing
* 2. Default font size set to be 16px
*/
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
}

/**
* 1. Removed the default bullet point for ol & ul.
*/
ol, ul {
    list-style: none;
}

/**
* 1. Images are responsive by default.
*/
img {
    max-width: 100%;
    height: auto;
}