// --------------------------------------------------
// This file contains minimal CSS reset rules.
// --------------------------------------------------

/**
* 1. boxing-sizig ensure consistent and predictable sizing
* 2. Default font size set to be 16px
*/
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Reset margins and paddings on most elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
pre,
blockquote,
figure,
hr {
  padding: 0;
  margin: 0;
}

/**
* 1. Removed the default bullet point for ol & ul.
*/
ol,
ul {
  list-style: none;
}

/**
* 1. Images are responsive by default.
*/
img {
  max-width: 100%;
  height: auto;
}

/* Reset forms and buttons */
input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

input,
textarea,
button {
  border: 1px solid gray;
}

button {
  border-radius: 0;
  padding: 0.75em 1em;
  background-color: transparent;
}

button * {
  pointer-events: none;
}

/* Easy responsive for media elements */
embed,
iframe,
img,
object,
video {
  display: block;
  max-width: 100%;
}

/* Useful table styles */
table {
  table-layout: fixed;
  width: 100%;
}

/* Hidden */
[hidden] {
  display: none !important;
}

/* noscript styles */
noscript {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
}
